# ---------------[ Unity ]------------------ #
/Temp
/Library
/Logs
/BuiltinShaders

# ---------------[ VSCode ]------------------ #
/.vscode

# ---------------[ Visual Studio ]------------------ #
/*.sln