# ---------------[ Unity ]------------------ #
/Temp
/Library
/Logs
/BuiltinShaders
/obj

# ---------------[ VSCode ]------------------ #
/.vs
/.vscode

# ---------------[ Visual Studio ]------------------ #
/*.sln
/*.csproj